<%
    var addrMap = {
        '1': '跑馬地',
        '2': '沙田'
    },
    raceAddrMap = {
        '1': '跑馬地馬場公眾席入口',
        '2': '沙田馬場公眾席入口'
    };
    var time = new Date(list_info.race_day);
    var month = time.getMonth()+1;
    var date = time.getDate();
    var day = ['日', '一', '二', '三', '四', '五', '六'][time.getDay()];
    var type = {'1': '日', '2': '夜'}[list_info.race_type];
    var _date = ''+ month+ '月'+ date+ '日 星期'+ day+ ' '+ type+ '馬';
%>
<div class="info-detail">
    <h1>香港賽馬會公眾席入場門票</h1>
    <ul class="info-list">
        <li><span class="title">觀賽日期</span>
            <span class="content">
            <%- _date %>
            </span>
        </li>
        <li><span class="title">入場地點</span>
            <span class="content"><%- addrMap[list_info.checkin_addr] %></span>
        </li>
        <li><span class="title">賽事地點</span>
            <span class="content"><%- addrMap[list_info.race_addr] %></span>
        </li>
        <li><span class="title">門票數量</span>
            <span class="content"><%- list_info.ticket_count %>張</span>
        </li>
        <li><span class="title">入場地址</span><span class="content">
            <%- raceAddrMap[list_info.checkin_addr] %>
        </span>
        </li>
    </ul>
</div>
<ul class="tickets">
    <!--交互說明
                點擊 li 時 | 展示二維碼彈窗
                已使用展示 | 在li加上ticket-used
                過期展示(未使用)| 在li加上ticket-expired

                li顏色類列表（按順序排列，每5個色輪換）：
                1、紅色 | ticket-color-red
                2、藍色 | ticket-color-blue
                3、綠色 | ticket-color-green
                4、紫色 | ticket-color-purple
                5、黃色 | ticket-color-yellow
    -->
    <%
        var colorArr = ['red', 'blue', 'green', 'purple', 'yellow'];
    %>
    <!-- ticket_info 测试用假数据 
        state:
            1：未使用
            2：已使用
            3：已过期
    -->

    <% _.each(ticket_info, function(ticket, i){
        var className;
        if(ticket.state == 1 ){
         className = 'ticket-color-'+colorArr[i%5];
        }else if(ticket.state == 2 ){
            className = 'ticket-used';
        }else if(ticket.state == 3 ){
            className = 'ticket-expired';
        };
        <!-- # 传递给二维码弹窗的参数 -->
        var params = {
            checkin: addrMap[list_info.checkin_addr],
            date: _date,
            className: className,
            qrcode: ticket.qrcode,
            state: ticket.state,
            checkin_addr: list_info.checkin_addr,
            race_day: list_info.race_day,
            race_type: list_info.race_type
        };
    %>
        <li class="<%- className %>" data-params="<%- JSON.stringify(params) %>">
            <div class="ticket-item">
                <span class="ico ico-hkrace"></span>
                <h2>香港賽馬會入場門票</h2>
                <p class="state">
                    <span class="state-used">已使用</span>
                    <span class="state-expired">已過期</span>
                </p>
                <span class="ico-arrow"></span>
            </div>
        </li>
    <% }) %>
</ul>
