<%
      var addrMap = {
            '1': '跑馬地',
            '2': '沙田'
      };
%>
<% _.each(list_infos, function(record){ %>
      <%
            if(!record.race_day) return;
            var time = new Date(record.race_day);
            var year = time.getFullYear();
            var month = time.getMonth()+1;
            var date = time.getDate();
            var day = ['日', '一', '二', '三', '四', '五', '六'][time.getDay()];
            var type = {'1': '日', '2': '夜'}[record.race_type];
      %>
      <li class="record-item" data-href="/pages/recordDetail.html?listid=<%- record.listid %>">
          <div class="item-info">
              <p class="name">
              <%- ''+ year+ '年'+ month+ '月'+ date+ '日 星期'+ day+ ' '+ type+ '馬'%>
              </p>
              <p class="line"><span class="title">入場地點</span><span class="content"><%- addrMap[record.checkin_addr] %></span>
              </p>
              <p class="line"><span class="title">購買日期</span><span class="content"><%- record.create_time %></span>
              </p>
          </div>
          <div class="item-sum">
              <strong><span><%- record.ticket_count %></span>張</strong>
              <p>入场门票</p>
          </div>
          <div class="ico-wrap">
              <span class="ico-arrow"><!--箭头图标--></span>
          </div>
      </li>
<% }) %>