<div class="layer layer-qrcode hide">
    <div class="layer-main">
        <!--交互说明：
            已使用展示 | 在 qrcode 加上ticket-used
            過期展示(未使用)| 在 qrcode 加上ticket-expired

            qrcode 顏色類列表（按順序排列，每5個色輪換）：
            1、紅色 | ticket-color-red
            2、藍色 | ticket-color-blue
            3、綠色 | ticket-color-green
            4、紫色 | ticket-color-purple
            5、黃色 | ticket-color-yellow
        -->
        <div class="qrcode <%- className %>">
            <div class="qrcode-img">
                <div class="qrcode-title">
                    <span class="ico ico-hkrace"></span>
                    <p>香港賽馬會公眾席入場門票(<span><%- checkin %></span>)</p>
                    <p>赛事日期:<span><%- date %></span>
                    </p>
                </div>
                <div class="img-wrap">
                    <!-- <img class="qrcode-download" src="" width="238" height="238"/> -->
                    <!-- <img width="238" height="238" src="http://tid.tenpay.com/ui_static/demo/tinno/test_qrcode.png"> -->
                </div>
            </div>
            <div class="qrcode-tips">
                <p class="tips-1 fadeIn" style="visibility:hidden">長按此QR Code將門票保存到相冊</p>
                <p class="tips-2">入場時向工作人員出示此QR Code</p></div>
            <div class="btn-line">
                <!--交互说明：
                    on | 当点击btn-close瞬间，在其后追加此类
                -->
                <a class="btn-close" href="javascript:;">關閉</a>
            </div>
        </div>
    </div>
</div>
