@charset "utf-8";
/* ============================================================
   文件名：hkrace
   最新修改：tinnocui
   说  明：香港马会门票预售
   ============================================================ */
/* 重置样式 [[*/
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article{margin:0;padding:0;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}  
table{border-collapse:collapse;border-spacing:0;}       
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 数字控件去掉上下选择的标识 */
input[type="number"]{-webkit-user-select:text;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none !important;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;appearance:none;border:none;outline:none;background:transparent;}
input:disabled,select:disabled{opacity: 1; /*去掉禁用时文本半透明效果 */}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
/*body{background:#EFEFF4;color: #888888;font-family:"Helvetica";-webkit-user-select:none; 禁止选中文本 -webkit-tap-highlight-color:rgba(0,0,0,0);/* 设置点击链接时遮罩层为全透明 */overflow:hidden;min-height:100%;}*/
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;height:100%;}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a,a:visited{text-decoration:none;-webkit-touch-callout:none;color: #007AFF;}
em,i {font-style: normal;}
img {vertical-align: middle;}
/* 重置样式 ]]*/


/* 按钮 */
.btn-opt,.btn-red,.btn-select,.btn-cancel {display: block;border-radius: 5px;text-align: center;line-height: 42px;font-size: 18px;}
.btn-opt {background-color: #06BD04;}
.btn-opt,.btn-opt:visited,.btn-opt:hover {color: #FFFFFF;}
.btn-opt.btn-press {background-color: #048B03;border-color: #077706;color: rgba(255,255,255,0.5);}
.btn-opt.btn-press,.btn-opt.btn-press:visited,.btn-opt.btn-press:hover,
.btn-opt.btn-disabled,.btn-opt.btn-disabled:visited,.btn-opt.btn-disabled:hover
 {color: rgba(255,255,255,0.5);}
.btn-red {background-color: #F86161;}
.btn-red,.btn-red:visited,.btn-red:hover {color: #EFEFF4;}
.btn-select {background-color: #FFFFFF;border: 1px solid #DFDFDD;}
.btn-select,.btn-select:visited,.btn-select:hover {color: #474747;}
.btn-cancel {background-color: #7c818b;border: 1px solid #7C818B;}
.btn-cancel,.btn-cancel:visited,.btn-cancel:hover {color: #FFFFFF;}

/* 素材 */
.ico-arrow{display: inline-block;width:8px;height: 13px;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVhJREFUeNqcldFKAkEUhnUTLc2yBwi6L8RY6EJRCkRDECqkB8gnU+9CTNNKvBIJIth9gh5DCBJi+0fOwnHa3Zlx4OfI0e/bcTk7G/c8LyaW67qnKAe2bX/EDJZF8DnKHJnic8lEEHcc5wx1gRxRb4k0sJN33R18IZ+sl0XesJOylgBX+kG9ERDr75OkonUPQiQZklwpBSRZkeSVfZ9GJpBUlQImuUVeJMkIkppSwCR3AZIhJHWlQJKMWXuPJNdKAZO0JMkuSRpKgSR5Zu0U8gRJcz2J/rMQtfDjJEofabK2kN9bmiMvButY6u0gOUvj6ocoM6TA2r9IG3+xY2nCdhAceRMBZ2kqL8LgUAHgNA1SMQoOFDC4rIL/CQgeIZc6sFgJBosBGSBVCX4A3FWdiUmC6ybwWkDwozgHTWF/B3mktg3sn4kOzfi3KbzxMNEpfAK4Z/Je+BNgAMrnlgtB8v9tAAAAAElFTkSuQmCC);background-size: 100% 100%;}
.ico-hkrace {display: inline-block; width: 45px;height: 45px;vertical-align: middle;background: url("img/ico_hkrace.png") no-repeat;background-size: 100% 100%;}
.i-dir {display: inline-block;width:28px;height:60px;background: url("img/share_arrow.png"); background-size: 100% 100%;}

/* 公用类 */
.hide {
    display: none !important;
}

/* iscroll 彈性滾動 */
.iscroll-body > *{height:100%;}/* 该节点为SPA模式使用，JS控制 */
.iscroll-wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    height:100%;
}
.iscroll{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative;
    width:100%;
    overflow: hidden;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {/* IE10兼容 */
    .iscroll{overflow:scroll;}
    .iscroll .main {/* height: 100%; */}
}

/* 彈窗 */
.layer,.pop-warn {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.layer {background-color: rgba(0,0,0,0.7);}
.pop-warn {
    -webkit-transition:display 1s ease 1s;
    transition:display 1s ease 1s;
    background-color: rgba(0,0,0,0);
}
.layer .layer-main,.pop-warn .pop-warn-cnt {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.pop-warn .pop-warn-cnt {
    text-align: center;
}
.pop-warn .pop-warn-cnt p {
    display: inline-block;
    min-width: 200px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 17px;
    line-height: 1.5em;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8);
    word-break:break-word;
}

/* 公共导航头部 */
.headnav {
    height: 45px;
    background-color: #F7F7F8;
}
.headnav .nav-item {
    float: left;
    width: 50%;
    height: 45px;
    text-align: center;
}
.headnav .nav-item a {
    display: block;
    height: 45px;
    line-height: 44px;
    border-bottom: 1px solid #A7A7A7;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.headnav .nav-item a,.headnav .nav-item a:visited{
    color: #333333;
}
.headnav .nav-item.on a,
.pay-index .headnav .nav-item:nth-child(1) a,
.record-list .headnav .nav-item:nth-child(2) a{
    border-bottom: 2px solid #09BB07;
}
.headnav .nav-item.on a,.headnav .nav-item.on a:visited,
.pay-index .headnav .nav-item:nth-child(1) a,.pay-index .headnav .nav-item:nth-child(1) a:visited,
.record-list .headnav .nav-item:nth-child(2) a,.record-list .headnav .nav-item:nth-child(2) a:visited
{
    color: #09BB07;
}
/* 公共尾部 */
.footer  {padding:26px 20px 15px;}
.footer  .warmtips {font-size: 12px;text-align: center;}
.footer  .warmtips .g-link{margin-left: 15px;}
/* =============================
   页面私有样式
   ============================= */

/* 支付首页(pay_index.shtml) */
.form {
    padding: 11px 11px 0;
}
.form .input-wrap {
    border: 1px solid #E3E3E8;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.form .input-wrap:before,.form .input-wrap:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    position: absolute;
    top: 111px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAIAAABxU02MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY5JREFUeNqklmFvgjAQhqEUKCIIiP7/n2diCG4TaWmBvaOZMWab9HYfyJHw9N5ej975p1MTx9zz5jAMY3g88FYbB6P1OE1j3w/j+OH7XhTxLEuFEC9hv22v95d5nicsM47GaPh5nmbZdi38uAqW0HqAU9dFFEUO8H0JY8wwqO022e3yH/b8lyrfR0aCIOi6XmtT19XTB+xlVhhjQiTGTOdz4wxbPo4F+KZpnWG7BfBS6q67OcPf+kXbvuM4nWEYkheGUdNcKDAM+VdKGzNSYIgHf7m8UWAbXMqBCLPF+l5S4CVz/HbryXAwDIYIQzZOmwij4ObZo8PEbFNq++me+BcM4UT4K9UwGozrETc0GTabjWA0zbAkSSiw1lqIiJJtxARcFDkFXsKGnHNn2PagqiqcKwyCpZRlmd8PmK0vKaUkBKfpZlWveoyJdsc52+9Ltx9jUduDPBz2Dl3StlilVJa5tNjH5n48lr81d/7EOI0V3H6Nx+JMdqCpqnzNQMNRMcso5aNohIht6ay0TwEGAB7j7ozab/lnAAAAAElFTkSuQmCC) no-repeat;background-size: 100%;
}
.form .input-wrap:before {
    left: -1px;
}
.form .input-wrap:after {
    right: -1px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.form-info {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 2px dotted #EFEFF4;
    overflow: hidden;
}
.form-info i {
    display: none;
    height: 30px;
    padding: 0 30px;
    line-height: 30px;
    position: absolute;
    top:12px;
    left: -29px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    font-size: 18px;
    color: #FFFFFF;
}
.form-info .i-youhui {
    background-color: #EC5158;
}
.form-info .i-sold {
    background-color: #646464;
}
.form-info .line {
    padding: 13px 0 12px;
    text-align: center;
}
.form-info p {
    font-size: 17px;
    color: #000000;
}
.form-line { 
    margin: 0 14px;
    border-bottom:1px solid #EEEEEE;
    position: relative;
}
.form-line:last-child {
    border-bottom: none;
}
.form-line:after {
    content:".";
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    clear:both;
}
.form-line .form-label {
    float: left;
    width: 93px;
    padding-right: 10px;
    margin-right: -103px;
}
.form-line .form-cnt {
    float: right;
    display: block;
    width: 100%;
    padding-left: 86px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align: right;
    direction: rtl;
}
.form-line .form-label label,.form-line .form-cnt input,.form-line .form-cnt select {
    display: inline-block;
    width: 100%;
    padding: 11px 20px 12px 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.form-line.pay-price  {
    margin: 12px 3px 14px;
    font-size: 14px;
    color: #000000;
}
.form-line.pay-price .title {
    vertical-align: -8px;
}
.form-line.pay-price .form-cnt {
    text-align: right;
}
.form-line.pay-price del {
    color: #888888;
}
.form-line.pay-price .now {
    font-size: 23px;
}
.form-line.pay-price .now em {
    font-size: 22px;
}
.form-line  .count-select {
    width: 112px;
    height: 32px;
    margin: 6px 0;
    float: right;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.form-line  .count-select .on {
    background-color: #EAEAEA;
}
.form-line .count-select .number {
    width: 46px;
    height: 32px;
    padding: 0;
    line-height: 32px;
    text-align: center;
}
.form-line .count-select .number,.form-line .count-select .del,.form-line .count-select .add{
    float: left;
}
.form-line .count-select a,.form-line .count-select a:visited{
    color: #999;
}
.form-line .count-select .del,.form-line .count-select .add {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    position: relative;
    line-height: 100px;
    overflow: hidden;
}
.form-line .count-select .del {
    border-right: 1px solid #E5E5E5;
}
.form-line .count-select .add {
    border-left: 1px solid #E5E5E5;
}
.form-line .count-select .del:before,.form-line .count-select .add:before,.form-line .count-select .add:after{
    content: "";
    display: inline-block;
    width: 13px;
    height: 2px;
    background-color: #666666;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.form-line .count-select .add:after{
    width: 2px;
    height: 13px;
}
.form-ico {
    position: absolute;
    top:50%;
    right: 6px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.form-cnt .select{
    display:block;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #FFFFFF;
    color:#333333;
}
.form-cnt .select::-ms-expand{display:none;}
.form-cnt .select {color: #000000;}
.form-cnt .select,.form-cnt .select option {padding: 0;}

/* 交互 */
.form.on-sale .i-youhui{
    display: inline-block;
}
.form.had-sold .i-sold{
    display: inline-block;
}
.form.had-sold .btn-book {opacity: 0.3;}

/* 支付成功页(pay_result.shtml) */
.pay-result{background: #efeff4;height: auto;}
.pay-result .container {padding-top: 45px;}
.pay-result .ico-success{width: 80px;height: 80px;display: block;margin: 0 auto 18px;}
.pay-result [class*="tips-"]{text-align: center;}
.pay-result .tips-txt{font-size: 22px;padding-bottom:8px;color: #000000;}
.pay-result .tips-cnt{font-size: 15px;margin-bottom: 23px;}
.pay-result .list{background:#fff; padding-top: 12px;border-top:1px solid #dfdfdd; border-bottom: 1px solid #dfdfdd;}
.pay-result .list dl{padding: 0 15px 12px 15px;overflow: hidden;font-size: 15px;}
.pay-result .list dl dt{float:left;display:inline;width:30%; padding-right:10px;word-break: break-all;}
.pay-result .list dl dd{display:block;width:63%;float:right;text-align: right;overflow: hidden;word-break: break-all;color: #000000;}
.pay-result .form-line-btn {padding: 25px 10px 15px;}
.pay-result .form-line-btn a[class^="btn"]:first-child {margin-bottom:10px;}
.pay-result .share-tips {display: block;width: 130px;height: 82px;position: absolute;top: 4px;right:0;}
.pay-result .font-share {display: block;width: 130px;font-size: 14px;line-height:1.8em; position: absolute;top:60px;color: #FFFFFF;}
.pay-result .share-i-dir {margin-left: 10px;position: absolute;top: 0;left:61px;}
@media screen and (max-height: 480px) {
    .pay-result .container {
        padding-top: 20px;
    }
    .pay-result .ico-success {
        margin-bottom: 10px;
    }
    .pay-result .tips-txt {
        padding-bottom:5px;
    }
    .pay-result .tips-cnt {
        margin-bottom: 15px;
    }
    .pay-result .list {
        padding-top: 10px;
    }
    .pay-result .list dl {
        padding: 0 15px 10px 15px;
    }
    .pay-result .form-line-btn {
        padding-top:15px; 
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
    .pay-result .share-tips {right: 20px;top: auto;bottom: 30px;}
    .pay-result .font-share {top: auto;bottom: 60px;}
    .pay-result .share-i-dir {top: auto;left:auto;bottom: 0;right: 0;transform:rotate(152deg);-webkit-transform:rotate(152deg);}
}

/* 購買記錄頁(record_list.shtml) */
.record-list .busy-tips,.record-list .no-tips,.record-list .loading-tips {
    width: 100%;
    padding-top: 38%;
    text-align: center;
    color: #000000;
    display: none;
}
.record-list .record-wrap {padding:11px 0 12px;display: none;}
.record-list .record {background-color: #FFFFFF;}
.record-list .record-item {
    padding: 6px 11px 6px 13px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-top: -1px;
    position: relative;
}
.record-list .record-item:after {
    content: "";
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    clear:both;
}
.record-list .record-item .item-info {
    float: left;
    margin: 8px 0 0;
}
.record-list .record-item .item-info .name {
    font-size: 14px;
    color: #000000;
}
.record-list .record-item .item-info .line {
    margin-top: 6px;
    font-size: 12px;
}
.record-list .record-item .item-info .content {
    margin-left: 10px;
    color: #000000;
}
.record-list .record-item .item-sum {
    float: right;
    width: 80px;
    height: 72px;
    padding-right: 13px;
    text-align: center;
    border-left: 1px solid #E5E5E5;
}
.record-list .record-item .item-sum strong {
    display: block;
    margin-top: 18px;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
.record-list .record-item .item-sum p {
    font-size: 12px;
}
.record-list .record-item .ico-wrap {
    position: absolute;
    right: 12px;
    top:35px;
}
.record-list .record-wrap .load-more,.record-list .record-wrap .no-more {
    margin:10px 0;
    text-align: center;
    font-size: 14px;
}
/* 交互 */
.record-list .show-busy-tips .busy-tips,
.record-list .show-no-tips .no-tips,
.record-list .show-loading-tips .loading-tips,
.record-list .show-record-wrap .record-wrap{
    display: block;
}

/* 門票詳情頁(record_detail.shtml) */
.record-detail .loading-tips {
    width: 100%;
    padding: 48% 0;
    text-align: center;
    color: #000000;
    display: none;
}
.record-detail .show-loading-tips .loading-tips{
    display: block;
}
.record-detail .info-detail {
    padding: 15px 13px;
    background-color: #FFFFFF;
    position: relative;
}
.record-detail .info-detail:after{
    content: "";
    display: inline-block;
    height:0; 
    width:0; 
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    font-size:0;
    border-top: 10px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.record-detail .info-detail h1 {
    font-size: 17px;
    color: #000000;
    text-align: center;
}
.record-detail .info-list {
    padding-top: 4px;
    font-size: 14px;
}
.record-detail .info-list li {
    margin: 10px 0 0;
}
.record-detail .info-list .content {
    padding-left: 15px;
    color: #000000;
}
.record-detail .tickets {
    padding: 23px 11px 0;
    margin-bottom: 25px;
}
.record-detail .tickets li{
    height: 52px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
}
.record-detail .tickets li:before,.record-detail .tickets li:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #EFEFF4;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    bottom: -6px;
}
.record-detail .tickets li:before {
    left: -8px;
}
.record-detail .tickets li:after {
    right: -8px;
}
.record-detail .tickets .ticket-item {
    height: 50px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    border-bottom: 2px solid transparent;
}
.record-detail .ticket-item .ico,
.record-detail .ticket-item h2,
.record-detail .ticket-item .state{
    float: left;
}
.record-detail .ticket-item .ico {
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 16px;
}
.record-detail .ticket-item h2 {
    font-size:17px;
    color: #000000;
    margin-top:14px; 
}
.record-detail .ticket-item .tips {
    float: right;
    font-size: 14px;
    color: #808080;
    margin: 16px 15px 0 0;

}
.record-detail .ticket-item .state span {
    display: none;
    font-size: 12px;
    color: #808080;
    background-color: #EFEFF4;
    width: 40px;
    height: 16px;
    margin:15px 6px 0;
    line-height: 16px;
    text-align: center;
    border: 1px solid #808080;
}
.record-detail .ticket-expired .state .state-expired,.record-detail .ticket-used .state .state-used {
    display: inline-block;
}
.record-detail .ticket-expired .ticket-item,.record-detail .ticket-used .ticket-item {
    border-color: #DCDCDC;
}
.record-detail .ticket-expired .ticket-item .ico,.record-detail .ticket-used .ticket-item .ico {
    opacity: 0.5;
}
.record-detail .ticket-expired h2,.record-detail .ticket-used h2 {
    color: #808080;
}
.layer-qrcode .layer-main {
    width: 93.75%;
    margin: 0 auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.layer-qrcode .qrcode {
    border-top:4px solid transparent;
    position: relative;
}
.layer-qrcode .qrcode:before,.layer-qrcode .qrcode:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #4B4B4B;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    top: 65px;
}
.layer-qrcode .qrcode:before {
    left: -8px;
}
.layer-qrcode .qrcode:after {
    right: -8px;
}
.layer-qrcode .qrcode .qrcode-title {
    height:74px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:15px 0;
    border-bottom: 2px dotted #E1E1E1;
}
.layer-qrcode .qrcode .qrcode-title .ico {
    float: left;
    width: 30px;
    height: 30px;
    margin:2px 12px 0 15px;
}
.layer-qrcode .qrcode .qrcode-title p {
    float: left;
    margin-bottom: 6px;
    font-size: 14px;
    color: #000000;
}
.layer-qrcode .qrcode .qrcode-img {
    text-align: center;
}
.layer-qrcode .qrcode .qrcode-img .img-wrap {
    display: inline-block;
    position: relative;
    padding: 25px 0 10px;
}
.layer-qrcode .qrcode .qrcode-tips {
    text-align: center;
    margin:10px 0;
}
.layer-qrcode .qrcode .qrcode-img .img-wrap:after {
    content: "";
    display: none;
    width: 129px;
    height: 129px;
    background: url("img/watermask.png") no-repeat 0 0;
    background-size: 259px 129px;
    -webkit-background-size:259px 129px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.layer-qrcode .qrcode .qrcode-tips .tips-1 {
    margin:0 0 6px; 
    color: #000000;
}
.layer-qrcode .qrcode .btn-line {
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}
.layer-qrcode .qrcode .btn-line .btn-close {
    display: block;
}
.layer-qrcode .qrcode .btn-line .btn-close.on {
    background-color: #EAEAEA;
}
.layer-qrcode .qrcode.ticket-used .qrcode-img img,.layer-qrcode .qrcode.ticket-expired .qrcode-img img{
    opacity: 0.2;
} 
.layer-qrcode .qrcode.ticket-used .qrcode-img .img-wrap:after {
    display: inline-block;
    background-position: -130px 0;
}
.layer-qrcode .qrcode.ticket-expired  .qrcode-img .img-wrap:after {
    display: inline-block;
}
/* 票顏色 */
.record-detail .ticket-color-red .ticket-item,.layer-qrcode .qrcode.ticket-color-red  {
    border-color: #F9A2A4;
}
.record-detail .ticket-color-blue .ticket-item,.layer-qrcode .qrcode.ticket-color-blue  {
    border-color: #8DCBE5;
}
.record-detail .ticket-color-green .ticket-item,.layer-qrcode .qrcode.ticket-color-green  {
    border-color: #9FD55F;
}
.record-detail .ticket-color-purple .ticket-item,.layer-qrcode .qrcode.ticket-color-purple  {
    border-color: #E0BBF7;
}
.record-detail .ticket-color-yellow .ticket-item,.layer-qrcode .qrcode.ticket-color-yellow  {
    border-color: #F2D673;
}

@media screen and (max-height: 480px) {
    .layer-qrcode .qrcode:before, .layer-qrcode .qrcode:after {
        top:51px;
    } 
    .layer-qrcode .qrcode .qrcode-title {
        height: 60px;
        padding: 10px 0;
    }
    .layer-qrcode .qrcode .qrcode-img {
        margin:15px 0 10px;
        font-size: 14px;
    }
    .layer-qrcode .qrcode .qrcode-img img {
        width: 200px;
        height: 200px;
    }
    .layer-qrcode .qrcode .qrcode-img .tips-1 {
        margin:10px 0 5px; 
    }
}

/* 使用须知页(notice.shtml) */
.notice .main {padding-bottom: 20px;color: #000000;}
.notice .main .foreword,.notice .main .cnt {padding: 0 16px;}
.notice .main p {margin: 7px 0;}
.notice h1 {padding-top: 25px;margin-bottom: 15px; font-size: 16px;text-align: center;font-weight: bold;}
.notice h2,.notice p {font-size: 12px;line-height: 20px;}
.notice h2 {font-weight: bold;}